<% @meta_title = "#{@list}" %>

<div class="container-md">
  <h1>
    <%= @list.to_s %><br/>
  </h1>

  <p>
    <%= @list.description %> <br/>
    <%= link_to @list.url, @list.url %>
  </p>

  <ul>
    <% list_projects = @list.list_projects.includes(:project) %>
    <% @list.readme_links.each do |link| %>
      <li>
        <% list_project= list_projects.select{|l| l.name == link[:name] }.first %>
        <% if list_project && list_project.project && list_project.project.repository.present? %>
          <%= link_to list_project.name, project_path(list_project.project) %>
          <% if list_project.description.present? %>
            - <%= list_project.description %>
          <% end %>
        <% else %>
          <%= link_to link[:name], link[:url] %>
          <% if link[:description].present? %>
            - <%= link[:description] %>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>