<% @meta_title = "#{@list}" %>
<% @meta_description = @list.description %>

<div class="container-md">
  <h1>
    <%= @list.to_s %><br/>
  </h1>

  <p>
    <%= @list.description %> <br/>
    <%= link_to @list.url, @list.url %>
  </p>

  <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= @list.last_synced_at ? distance_of_time_in_words_to_now(@list.last_synced_at) + ' ago' : 'Never' %> <br>
        <%= link_to 'JSON representation', api_v1_list_path(@list) %>
    </small></i></p>

  <div class='row'>
    <div class='col-md-8'>
      <ul>
        <% list_projects = @list.list_projects.includes(:project) %>

        <% list_projects.group_by(&:category).each do |category, list_projects| %>
          <% next if category == 'License' %>
          <li>
            <h2 id='category-<%= category %>'><%= category %></h2>
            <% sub_categories = list_projects.group_by(&:sub_category) %>
            <% if sub_categories.keys.compact.any? %>
              <ul>
                <% sub_categories.each do |sub_category, sub_list_projects| %>
                  <li>
                    <h3 id='subcategory-<%= sub_category %>'><%= sub_category %></h3>
                    <ul>
                      <% sub_list_projects.each do |list_project| %>
                        <li>
                          <% if list_project && list_project.project && list_project.project.repository.present? %>
                            <%= link_to list_project.name, project_path(list_project.project) %>
                          <% else %>
                            <%= link_to list_project.name, list_project.url, target: :blank %>
                          <% end %>
                          <% if list_project.description.present? %>
                            - <%= list_project.description %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <ul>
                <% list_projects.each do |list_project| %>
                  <li>
                    <% if list_project && list_project.project %>
                      <%= link_to list_project.name, project_path(list_project.project) %>
                    <% else %>
                      <%= link_to list_project.name, list_project.url %>
                    <% end %>
                    <% if list_project.description.present? %>
                      - <%= list_project.description %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </li>
        <% end %>

      </ul>
    </div>
    <div class='col-md-4'>
      <% if @list.language_breakdown.any? %>
        <div class='card mb-3'>
          <div class="card-header">
            Programming Languages
          </div>
          <div class="list-group list-group-flush">
            <% @list.language_breakdown.first(10).each do |language, count| %>
              <% next if language.blank? %>
              <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if language == params[:language]%>" href="<%= list_path(@list, language: language) %>">
                <%= language %>
                <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @list.category_counts.any? %>
        <div class='card mb-3'>
          <div class="card-header">
            Categories
          </div>
          <div class="list-group list-group-flush">
            <% @list.category_counts.each do |category, count| %>
              <% next if category.blank? %>
              <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#category-<%= category %>">
                <%= category %>
                <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @list.sub_category_counts.any? %>
        <div class='card mb-3'>
          <div class="card-header">
            Sub Categories
          </div>
          <div class="list-group list-group-flush">
            <% @list.sub_category_counts.each do |category, count| %>
              <% next if category.blank? %>
              <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#subcategory-<%= category %>">
                <%= category %>
                <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @list.project_topics.any? %>
        <div class='card mb-3'>
          <div class="card-header">
            Keywords
          </div>
          <div class="list-group list-group-flush">
            <% @list.project_topics.first(50).each do |topic, count| %>
              <% next if topic.blank? %>
              <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center <%= 'active' if topic == params[:topic]%>" href="<%= list_path(@list, topic: topic) %>">
                <%= topic %>
                <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count%></span>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>


</div>