<% @meta_title = "#{@topic}" %>

<div class="container-md">
  <h1>
    <%= @topic.to_s %><br/>
  </h1>

  <div class="float-end ms-3 mb-3">
    <img src="<%= @topic.logo_url %>" class="rounded" height='80' width='80' onerror="this.style.display='none'">
  </div>  

  <%== @topic.content %>

  <ul>
    <li>
      GitHub: <%= link_to @topic.url, @topic.url %>
    </li>
    <% if @topic.wikipedia_url.present? %>
      <li>
        Wikipedia: <%= link_to @topic.wikipedia_url, @topic.wikipedia_url %>
      </li>
    <% end %>
    <% if @topic.github_url.present? %>
      <li>
        Repo: <%= link_to @topic.github_url, @topic.github_url %>
      </li>
    <% end %>
    <% if @topic.created_by.present? %>
      <li>
        Created by: <%= @topic.created_by %>
      </li>
    <% end %>
    <% if @topic.released.present? %>
      <li>
        Released: <%= @topic.released %>
      </li>
    <% end %>
    <li>
      Last updated: <%= @topic.updated_at %>
    </li>
    <li>
      <%= link_to 'JSON Representation', api_v1_topic_path(@topic) %>
    </li>
  </ul>

  <div class='row'>
    <div class='col-md-8'>
      <%= render @projects %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>

    <div class='col-md-4'>
      <div class='card mb-3'>
        <div class="card-header">
          <%= @topic %> Awesome Lists
        </div>
        <div class="list-group list-group-flush">
          <% @lists.first(50).each do |list| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="<%= list_path(list) %>">
              <%= list %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter list.projects_count%></span>
            </a>
          <% end %>
        </div>
      </div>

      <div class='card mb-3'>
        <div class="card-header">
          <%= @topic %> Categories
        </div>
        <div class="list-group list-group-flush">
          <% @topic.categories.first(20).each do |category, count| %>
            <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href='#'>
              <%= category %>
              <span class="badge bg-primary rounded-pill"><%= number_with_delimiter count %></span>
            </a>
          <% end %>
        </div>
      </div>
    </div>

  </div>


</div>